@CHARSET "ISO-8859-1";
#mainCatalogo
{
	width:100%;
	border-style:solid;
	border-width:0.1em 0.1em 0.1em 0.1em;
	padding:1% 0% 1% 0%;
	min-height: 20em;
}
#mainCatalogo section
{
	border-style:solid;
	border-width:0.1em 0.1em 0.1em 0.1em;
	padding:0.5% 0% 0.5% 0%;
}
#mainCatalogo #sideCatalogo
{
	width: 15%;
	margin-left: 1%;
   margin-right: 0.5%;
   position:absolute;
   left: 1%;
}
#mainCatalogo #sideCatalogo table
{
	text-align:left;
	border-style:none;
	border-collapse:separate;
	border-spacing:1em 0.5em;
}
#mainCatalogo #sideCatalogo #toptable
{
	border-bottom-style: solid;
   border-bottom-width: 0.1em;
}
#mainCatalogo #articoliCatalogo
{
	width: 80%;
   margin-left: 17%;
   padding:1% 1% 1% 1%;
   min-height:20em;
}
#mainCatalogo #articoliCatalogo div.temaRow
{
	text-align: left;
   width: 97%;
   border-style: solid;
   border-width: 1px 1px 1px 1px;
   padding: 2% 1% 2% 2%;
   margin-bottom: 1%;
   min-height: 15em;
}
#mainCatalogo #articoliCatalogo div.temaRow div.tema
{
	text-align:center;
	display:inline-block;
	width:25%;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	margin-right: 3.5%;
   margin-left: 3.5%;
   min-height: 15em;
}
#mainCatalogo #articoliCatalogo div.temaRow div.tema section.fotoTema
{
	width:99%;
	border-style: solid;
   border-width: 0.1em 0.1em 0.1em 0.1em;
}
#mainCatalogo #articoliCatalogo div.temaRow div.tema section.fotoTema img
{
	width:100%;
}