<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	</head>
	<body>
		<footer>
			<div>
				<img src="src/images/logo.png">
				<table>
					<tr>
						<td>SHOP</td>
						<td>SPEDIZIONI</td>
						<td>INFORMAZIONI</td>
						<td>SOCIAL</td>
					</tr>
					<tr>
						<td>Taglie</td>
						<td>Tariffe</td>
						<td>MyAccount</td>
						<td>Piccoli loghi dei social</td>
					</tr>
					<tr>
						<td>FAQ</td>
						<td>Spezioni</td>
						<td>MCTEEs</td>
					</tr>
				</table>
			</div>
		</footer>
	</body>
</html>