<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<header>
			<div id="upper">
				<form id="searchbar" method="post" action="catalogo">
					<input type="text" name="search"/>
					<input type="image" id="searchlens" src="src/images/search.png" alt="Submit"/>
				</form>
				<div id="logincarrello">
					<span><a href="login">Login</a> <img src="src/images/offline.png"></span>
					<span><a href="carrello?action=show">Carrello</a> <img src="src/images/carrello.png"></span>
				</div>
			</div>
			<div id="navigation">
				<span><a href="home">Home</a></span>
				<div id="catalogo">
					<a href="catalogo">Catalogo</a>
					<div id="dropdown">
						<a href="andonio">Andonio</a>
						<a href="marco">Marco</a>
						<a href="benito">Benito</a>
					</div>
				</div>
				<img src="src/images/logo.png">
				<span id="wishlist"><a href="wishlist">Wishlist</a></span>
				<span><a href="contatti">Contatti</a></span>
			</div>
		</header>
	</body>
</html>